body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #ff7e5f, #feb47b); /* Fondo degradado */
}

.clock {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 15px solid white;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 35%, rgba(255,255,255,1) 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.segundos, .minutos, .horas {
    position: absolute;
    width: 40%;
    height: 6px;
    background: black;
    transform-origin: right center;
    right: 50%;
    top: calc(50% - 3px);
}

.segundos {
    background: black;
    animation: rotate 60s infinite linear;
}

.minutos {
    background: black;
    animation: rotate 3600s infinite linear;
}

.horas {
    background: red;
    width: 25%;
    animation: rotate 43200s infinite linear;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
