/* Estilos generales */
body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
}

h1 {
    text-align: center;
    font-family: "Playfair Display", serif;
    color: #ff0000;
    text-shadow: 2px 2px 4px rgba(223, 53, 232, 0.87);
    font-size: 24px;
    margin-bottom: 20px;
}

img {
    width: 390px;
    height: 390px;
    object-fit: cover;
    box-shadow: 5px 5px 10px rgba(0, 251, 255, 0.737);
    transition: all 0.5s ease-in-out;
    border-radius: 8px;
}

img:not(.playlist img):hover {
    transform: scale(1.2);
    border: 3px solid #000000;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

img:active {
    animation: rotate 3s linear infinite;
}

ul, li {
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #000000;
}

li > img {
    margin-right: 20px;
    border-radius: 17px;
}

/* Estilo para el contenedor principal */
.text-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #4fe01a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para la lista de reproducción */
.playlist {
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.playlist img {
    max-width: 204px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
    transition: none; /* Elimina la transición en la imagen de la lista de reproducción */
}

.playlist h2 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
}

.playlist button {
    display: block;
    width: 100%;
    padding: 23px;
    margin-bottom: 100px;
    border: none;
    border-radius: 5px;
    background-color: #36b43a;
    color: #000000;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.playlist button:hover {
    background-color: #21dd2b;
}

/* Estilos para el reproductor de audio */
audio {
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
    outline: none;
}

/* Estilos para los botones de los links */
a.boton {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

a.boton:hover {
    background-color: #000000;
    color: #ff0000;
    border-color: #ff0000;
}

/* Estilo para el primer botón */
.boton-izquierda {
    float: left;
}

/* Estilo para el segundo botón */
.boton-derecha {
    float: right;
}

/* Estilos para el contenedor de imágenes */
.contenedor {
    width: 100%;
    margin: auto;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-container .album {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    width: 400px;
}

.image-container img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 15px;
}

.image-container ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.image-container h2 {
    margin-bottom: 50px;
}

.video-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #808080; /* Fondo color gris */
    border: 5px solid #333; /* Borde sólido */
  }
  
  .video-container h1 {
    color: #fff; /* Color de texto blanco para contraste */
    text-shadow: 2px 2px 4px #000; /* Sombra de texto para más contraste */
    margin-bottom: 20px;
    grid-column: span 2; /* Hace que el título ocupe dos columnas */
  }
  
  .video-container iframe {
    max-width: 100%;
    border-radius: 10px; /* Bordes redondeados en los videos */
    border: 3px solid #fff; /* Borde blanco alrededor de los videos */
  }
  


  h1.centrado {
  font-size: 3em; /* Ajusta este valor según lo grande que quieras que sea el texto */
}
